@{
    ViewData["Title"] = "ABOUT";
}
<body id="bdy1" runat="server" class="backgroundgraph">
    <div class="container">
        <h2>@ViewData["Title"] TRASALUM</h2>
        
        <div class="row">
            <div class="col-sm-3">
                <p>@ViewData["Message"]</p>

                <p>Version: 1.0</p>
            </div>
        </div>
    </div>
</body>