@{
    ViewData["Title"] = "Contact";
}
<body class="backgroundgraph">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>



    <address>
        <strong>Support:</strong> <a href="mailto:gregturner.dev@gmail.com">gregturner.dev@gmail.com</a><br />
    </address>
</body>