@using Microsoft.AspNetCore.Identity
@using Trasalum.Models

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trasalum</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TRASALUM</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*search bar and buttons only revealed to authenticated users*@
                    @if (SignInManager.IsSignedIn(User))

    {
                @*search on left of navbar*@
                <div class="navbar-left" style="margin-top:8px;">
                    <form asp-controller="Alum" asp-action="Index" method="get">
                        <div class="form-actions no-color">
                            <p>
                                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                <input type="submit" value="Search Alums" class="btn btn-default" /> |
                            </p>
                        </div>
                    </form>
                </div>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">NSS<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-area="" asp-controller="Cohort" asp-action="Index">Cohorts</a></li>
                        <li><a asp-area="" asp-controller="Staff" asp-action="Index">Staff</a></li>
                        <li><a asp-area="" asp-controller="Tech" asp-action="Index">Technologies</a></li>
                    </ul>
                </li>
                <li><a asp-area="" asp-controller="Alum" asp-action="Index">ALUMS</a></li>
                <li><a asp-area="" asp-controller="Engagement" asp-action="Index">EVENTS</a></li>
                <li class="dropdown">
                    <a asp-area="" asp-controller="Home" asp-action="Home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">EXTERNAL GROUPS <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-area="" asp-controller="Meetup" asp-action="Index">Meetups</a></li>
                        @*<li><a href="#">Companies (COMING SOON)</a></li>*@
                    </ul>
                </li>
}
else
{
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
}

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        
        <footer class="navbar navbar-fixed-bottom blackedoutfoot">
            <hr class="zeromargin" />
            <p style="margin-top: 10px;">&copy; 2018 - Greg Turner</p>
        </footer>
</div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
